<!DOCTYPE html>
<html>

<head>
	<title>Novo pet criado!</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

	<div class="container">
		<h1 class="display-1">Novo pet criado!</h1>
		<fieldset disabled>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text " id="inputGroup-sizing-default" for="id">ID:</span>
				</div>
				<input type="text" class="form-control" name="id" th:value="${pet.id}">
			</div>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="inputGroup-sizing-default">Nome:</span>
				</div>
				<input type="text" class="form-control" name="nome" th:value="${pet.nome}">
			</div>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="inputGroup-sizing-default">Raça:</span>
				</div>
				<input type="text" class="form-control" name="raca" th:value="${pet.raca}">
			</div>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="inputGroup-sizing-default">Idade:</span>
				</div>
				<input type="text" class="form-control" name="idade" th:value="${pet.idade}">
			</div>
		</fieldset>
		<div class="row">
			<div class="col-6">
				<a href="../pet/list" class="btn btn-primary  btn-block "> LISTA </a>
			</div>
			<div class="col-6">
				<a href="../pet" class="btn btn-primary  btn-block ">CONTINUAR CADASTRO</a>
			</div>

		</div>

	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>

</body>


</html>